<h1>All Listings</h1>

<% @houses.each do |house| %>
  <p><%= image_tag house.attachment_url(:thumb) %></p>
  <p><%= house.price %></p>
  <p><%= house.bedrooms %></p>
  <p><%= house.bathrooms %></p>
<% end %>